    *{
        margin: 0;
        padding: 0;
    }

    body menu{
        margin: 0;
    }

    menu{
        background-color: white;
        width: 20em;
        min-height: 100vh;
        border: 1px solid black;
    }

    menu ul{
        display: flex;
        flex-direction: column;
    }

    menu li{
        padding: 1em;
        list-style: none;
        border: 1px solid rgba(53, 53, 53, 0.514);
    }

    main{
        display: flex;
    }

    .chat{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background-color: #E8EBE4;
    }

    .manos{
        height: 150px;
        border-radius: 0%;
    }

    main img{
        height: 30px;
        border-radius: 50%;
    }

    .foto-nombre{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .foto{
    display: flex;
    align-items: center;
    gap: 10px;
    }


    .boton{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #A491D2;
        background-color: #A491D2;
        color: white;
        height: 30px;
        width: 200px;
        margin:0.5em;
        padding: 0;
        border-radius: 0px;
        text-align: center;
    }
